body
{
    background-color: #f2f2f2;
}

h1
{
    font-family: 'Raleway', sans-serif;
    font-size: 0.5em;
    color: #212121;
}

#timezone
{
    font-size: 1em;
}
.container
{
    padding: 2em;
}

p
{
    font-size: 7em;
}

#icon-summary
{
    font-size: 7em;
}
#summary
{
    font-size: 2em;
}

.action
{
    color: #fafafa;
    font-size: 1em;
}
span
{
    font-size: 2em;
}
#time{
    margin-top: .5em;
    font-size: 4.2em;
}

#timezone
{
    margin-top: 5em;
    font-size: 1.5em;
}

.clicked {
  color: red;
}

footer
{
    font-size: 0.2em;
}

#name
{
    font-size: 5em;
}