body
{
    width: 100;
    background-color: #212121;
}

h1
{
    font-size: 3em;
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

.card-content
{
    font-size: 1.5em;
}

#button-1
{
    margin-right: 5em;
}

#movie
{
    display: inline-block;
}

.card-title
{
    font-weight: bold;
}

#video
{
    width: 50%;
    height: 600px;
}